<h3>新規投稿</h3>
<%= form_with url: instas_path do |form| %>
    <div class="field">
        <%= form.text_field :body %>
        <%= form.submit %>
    </div>
<% end %>
<%= link_to "投稿一覧に戻る", instas_path %>