// Place all the styles related to the instas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search{
    margin-top: 5%;
    margin-left: 5%;
}
input[type="search"] {
    width: 60%;
    height: 40%;
    border-bottom:solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #cbcfd0;
}
.icon{
    border-radius: 60%;
}
.instas-container{
    display: flex;
    justify-content: center;
    p{
        font-size: 25px;
        text-align: center;
    }
}